version: '3'
services:
  db:
    image: mariadb:11.1.2
    volumes:
      - /data/mariadb:/var/lib/mysql
    restart: always
    environment:
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
      - MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
  apache:
    image: httpd:2.4.57
    depends_on:
      - db
    ports:
      - 80:80
      - 443:443