version: '3'
services:
  db:
    image: mariadb:11.1.2
    volumes:
      - ./data/mariadb:/var/lib/mysql
    restart: always
    environment:
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
      - MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
  apache:
    image: php:8.2.12RC1-apache
    depends_on:
      - db
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./data/php/htdocs:/var/www/html
  phpmyadmin:
    image: phpmyadmin:5.2.1
    depends_on:
      - db
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOSTS=db
      - PMA_USER=${MARIADB_USER}
      - PMA_PASSWORD=${MARIADB_PASSWORD}
    ports:
      - 3001:80